.App {
  display: grid;
  grid: auto-flow / 1fr 1fr;
}

textarea {
  font-family: 'monospace';
  white-space: pre;
}

.editor {
  padding: 5px;
  border: 1px solid black;
  white-space: pre;
  font-family: 'monospace';
  background-color: #eee;
}

.editor div {
  display: inline-block;
  vertical-align: middle;
}

.editor div.colored {
  padding: 5px;
  width: fit-content;
  box-sizing: border-box;
  border-radius: 5px;
  border: solid 5px;
}
