.App {
  border: 1px solid black;
}

.tool-bar {
  background: #ddd;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid black;
}

.editor-box {
  display: grid;
  grid: auto-flow / 50% 50%;
}

textarea.raw-editor {
  font-family: 'monospace';
  white-space: pre;
  border: none;
}

.editor {
  padding: 5px;
  border-left: 1px solid black;
  white-space: pre;
  font-family: 'monospace';
  background-color: #eee;
  overflow-x: scroll;
}

.editor div {
  display: inline-block;
  vertical-align: middle;
}

.editor div.colored {
  padding: 5px;
  width: fit-content;
  box-sizing: border-box;
  border-radius: 5px;
  border: solid 5px;
}
