.App {
  display: grid;
  grid: auto-flow / 1fr 1fr;
}

textarea {
  font-family: "monospace";
  white-space: pre;
}

.editor {
  padding: 5px;
  border: 1px solid black;
  white-space: pre;
  font-family: "monospace";
  background-color: #EEE;
}

.editor span.colored {
  padding: 5px;
  /* display: inline-block; */
  line-height: calc(1em + 20px);
  box-sizing: border-box;
  border-radius: 5px;
}
