.App {
  position: relative;
}

textarea {
  height: 1px;
  width: 1px;
  font-size: 1px;
  position: absolute;
  top: 1px;
  left: 1px;
  resize: none;
  z-index: 1;
  font-family: "monospace";
  opacity: 0;
  white-space: pre;
}

.editor {
  padding: 5px;
  position: relative;
  border: 1px solid black;
  white-space: pre;
  font-family: "monospace";
  background-color: #EEE;
  z-index: 100;
}